version: '2.4'

services:
  haproxy:
    image: haproxy:lts-alpine
    mem_limit: 256m
    restart: on-failure
    container_name: haproxy
    healthcheck:
      test: [ "CMD", "echo", "-n", ">", "/dev/tcp/127.0.0.1/8080" ]
      interval: 15s
      timeout: 3s
      retries: 10
    user: haproxy
    # Using network_mode=host is the best situation for performance to prevent a NAT
    # however for MacOS using port-forward is the only option which is useful
    # when debugging/testing is kept it commented out
#    network_mode: "host"
    ports:
      - "8080:8080"
      - "6443:6443"
      - "80:80"
      - "443:443"
    volumes:
      - ./etc/haproxy/:/usr/local/etc/haproxy
  keepalived:
    container_name: keepalived
    depends_on:
      haproxy:
        condition: service_healthy
    build:
      context: .
      dockerfile: Dockerfile.keepalived
    sysctls:
      net.ipv4.ip_nonlocal_bind: 1
