version: '2.4'

services:
  haproxy:
    image: haproxy:lts-alpine
    mem_limit: 256m
    restart: always
    container_name: haproxy
    healthcheck:
      test: [ "CMD", "echo", "-n", ">", "/dev/tcp/127.0.0.1/8080" ]
      interval: 15s
      timeout: 3s
      retries: 10
    logging:
        driver: "json-file"
        options:
            max-file: 2
            max-size: 1m
    ports:
      - "80:8080"
      - "443:8443"
      - "6443:6443"
      - "8081:8081"
  keepalived:
    container_name: keepalived
    image: gsdevme/lan-ha:latest
    mem_limit: 32m
    user: root
    restart: always
    network_mode: host
    privileged: true
    cap_add:
      - NET_ADMIN
    depends_on:
      haproxy:
        condition: service_healthy
