version: '2.4'

services:
  haproxy:
    image: haproxy:lts-alpine
    mem_limit: 256m
    restart: always
    container_name: haproxy
    healthcheck:
      test: [ "CMD", "echo", "-n", ">", "/dev/tcp/127.0.0.1/8080" ]
      interval: 15s
      timeout: 3s
      retries: 10
    network_mode: host
  keepalived:
    container_name: keepalived
    user: root
    restart: always
    network_mode: host
    cap_add:
      - NET_ADMIN
    depends_on:
      haproxy:
        condition: service_healthy
    build:
      context: .
      dockerfile: Dockerfile.keepalived
